{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        no.cjohansen/powerpack {:mvn/version "2023.12.21"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
           :build {:exec-fn net.thewagner.training.export/export!}}}
