<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Wagner Training | $title$</title>
        <link rel="icon" href="/images/favicon.png" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/assets/metrics-graphics/dist/metricsgraphics.css" />
        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="/assets/d3/build/d3.min.js"></script>
        <script src="/assets/metrics-graphics/dist/metricsgraphics.min.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/archive">Archive</a>
                <a href="/about">About</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            © 2018 David Wagner. All Rights Reserved
        </footer>
    </body>
</html>
